<div class="header">
  <div class="header-logo"><%= link_to "Hanataba", root_path %></div>
    <div class="header-list">
      <ul class="list">
        <li><%= link_to "Hanatabaについて", "#", class: "post" %></li>
        <li><%= link_to "ログイン", new_user_session_path, class: "post" %></li>
        <li><%= link_to "新規登録", new_user_registration_path, class: "post" %></li>
      </ul>
    </div>
  <div class="menu-icon" ><i class="fas fa-bars fa-2x"></i></div>	
</div>
