.main_contents {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 1000px;
  letter-spacing: 0.15em;
}

.main_container {
  margin: 20px 0;
  padding: 30px 20px;
  box-shadow: 0 0 10px rgba(41,41,41,0.2);
  background-color: white;
}

.main_container h1 {
  margin: 20px 0;
  padding: 10px;
  font-size: 20px;
}

.content_post {
  margin: 10px 0px;
  padding: 10px 0px;
  display: flex;
  border-top: 1px solid #D8D8D8;
}

.content_right {
  width: 30%;
  min-width: 200px;
  padding: 0px 10px;
}

.content_left {
  width: 70%;
  padding: 0px 10px;

}

.flex_left {
  min-width: 200px;
}

.favorite_btn {
  margin: 10px 0px;
}

.shop_btn {
  margin-bottom: 30px;
}

.created_at {
  color: rgba(128,128,128, 0.5);
}

.tweet_name {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

.tweet_text {
  margin-bottom: 10px;
}

.tweet_recommended {
  text-align: right;
  margin-bottom: 20px;
}

.flower_name {
  margin-bottom: 20px;
}

.tweet_other_info {
  margin-bottom: 20px;
}

.tweet_other_title {
  margin-bottom: 5px;
}

.other_info {
  padding-right: 40px;
}

.log_title {
  font-size: 15px;
  margin-bottom: 5px;
}

.field_flex {
  display: flex;
  margin-bottom: 10px;
}

.log_field {
  width: 80%;
  padding-right: 20px;
}

.log_actions {
  width: 20%;
  padding-right: 20px;
}

.tweet_link_btn {
  display: flex;
  justify-content: space-between;
  color: rgba(128,128,128, 0.5);
}

.link_btn span {
  margin-right: 5px;
}

.link_btn span:hover {
  transition: all 0.5s ease 0s;
  opacity: 0.6;
  border-bottom: 1px solid  rgba(128,128,128, 0.5);
}

.tweet_link:hover {
  transition: all 0.5s ease 0s;
  opacity: 0.6;
  border-bottom: 1px solid  rgba(128,128,128, 0.5);
}

/* 検索ボタンのcssの記述 */
.search_flex {
  display: flex;
  margin: 30px 30px 10px;
}

.search_field {
  width: 80%;
  padding-right: 20px;
}

.search_actions {
  width: 20%;
  padding-right: 20px;
}

@media (max-width: 1024px) {
  .favorite_btn {
    font-size: 15px;
  }
  
  .shop_btn {
    font-size: 15px;
  }

  .created_at {
    font-size: 15px;
  }

  .tweet_other_info {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }

  .other_info {
    padding-bottom: 10px;
  }
  
}

/* ブレイクポイントを749に変更 */
@media (max-width: 749px) {
  .content_post {
    display: flex;
    flex-direction: column;
  }

  .content_right {
    width: 100%;
    padding: 10px 0px 20px;
  }

  .content_left {
    width: 100%;
  }

  .content_right_flex {
    display: flex;
    align-items: flex-end;
  }
  
  .flex_right {
    padding: 0px 10px;
  }

  .favorite_btn {
    margin: 0px 0px 10px;
  }

  .shop_btn {
    margin-bottom: 10px;
  }

}
