.main_contents {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 1000px;
  letter-spacing: 0.15em;
}

.main_container {
  margin: 20px 0;
  padding: 30px 20px;
  box-shadow: 0 0 10px rgba(41,41,41,0.2);
  background-color: white;
}

/* show_contentはshow.html.erbのみの記述 */
.show_content_post {
  margin: 10px 0px;
  padding: 10px 0px;
  display: flex;
}

/* show_content_rightはshow.html.erbのみの記述 */
.show_content_right {
  width: 30%;
  padding: 0px 10px;
}

/* show_content_leftはshow.html.erbのみの記述 */
.show_content_left {
  width: 70%;
  padding: 0px 10px;

}

.flex_left {
  min-width: 200px;
}

.favorite_btn {
  margin: 10px 0px;
}

.shop_btn {
  margin-bottom: 30px;
}

.created_at {
  color: rgba(128,128,128, 0.5);
}

.tweet_name {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

.tweet_text {
  margin-bottom: 10px;
}

.tweet_recommended {
  text-align: right;
  margin-bottom: 20px;
} 

.flower_name {
  margin-bottom: 20px;
} 

/* show_other_infoはshow.html.erbのみの記述 */
.show_other_info {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
} 

/* show_other_titleはshow.html.erbのみの記述 */
.show_other_title {
  margin-bottom: 10px;
}

/* show_infoはshow.html.erbのみの記述 */
.show_info {
  padding-bottom: 10px;
}

.log_title {
  font-size: 15px;
  margin-bottom: 5px;
}

.field_flex {
  display: flex;
  margin-bottom: 10px;
}

.log_field {
  width: 80%;
  padding-right: 20px;
}

.log_actions {
  width: 20%;
  padding-right: 20px;
}

.tweet_link_btn {
  display: flex;
  justify-content: space-between;
  color: rgba(128,128,128, 0.5);
}

.link_btn span {
  margin-right: 5px;
}

.link_btn span:hover {
  transition: all 0.5s ease 0s;
  opacity: 0.6;
  border-bottom: 1px solid  rgba(128,128,128, 0.5);
}

.tweet_link:hover {
  transition: all 0.5s ease 0s;
  opacity: 0.6;
  border-bottom: 1px solid  rgba(128,128,128, 0.5);
}

/* コメント表示フォームの記述 */
.comments {
  margin-bottom: 30px;
}

.comments h4 {
  margin-bottom: 20px;
}

.comments a {
  color: rgb(255, 192, 203);
}

.comments p {
  margin-bottom: 5px;
}

.comments a:hover {
  transition: all 0.5s ease 0s;
  color: rgba(255, 192, 203, 0.5);
  border-bottom: 1px solid rgba(255, 192, 203, 0.5);
}

@media (max-width: 1024px) {
  .favorite_btn {
    font-size: 15px;
  }
  
  .shop_btn {
    font-size: 15px;
  }

  .created_at {
    font-size: 15px;
  }
}

/* ブレイクポイントを749に変更 */
@media (max-width: 749px) {
  /* .show_content_postはshow.html.erbのみの記述 */
  .show_content_post {
    display: flex;
    flex-direction: column;
  }
  /* .show_content_rightはshow.html.erbのみの記述 */
  .show_content_right {
    width: 100%;
    padding: 10px 0px 20px;
  }
  /* show_content_leftはshow.html.erbのみの記述 */
  .show_content_left {
    width: 100%;
  }

  .content_right_flex {
    display: flex;
    align-items: flex-end;
  }
  
  .flex_right {
    padding: 0px 10px;
  }

  .favorite_btn {
    margin: 0px 0px 10px;
  }

  .shop_btn {
    margin-bottom: 10px;
  }

} 
